<h1>{{ to }}：</h1>
<p>很遗憾地通知您，您在本平台发起的能力变现交易（{{ title }}）没有通过本平台系统管理员的人工审查，原因是：</p>
<p>{{ hide }}</p>
<p>建议您尽快修改，修改时请参考本平台的用户协议。如果有疑问，可直接回复本邮件。</p>
<p></p>
<p>We regret to inform you that the transaction ({{ title }}) you initiated on this platform did not pass the manual review of the system administrator, because</p>
<p>{{ hide }}</p>
<p>It is recommended that you modify it as soon as possible. Please refer to the user agreement of this platform. If you have any questions, you can reply to this email directly.</p>
<p></p>
<p>能力变现平台技术支持团队</p>
<p>support@a2money.com</p>
<p></p>
<p>{{ created }}</p>